
html {
    box-sizing: border-box;
}  
*,*::before, *::after{
    box-sizing: inherit;
  }

.font__style-01 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
}

.font__style-02 {
font-family: 'Martel';
font-weight: 700;
font-size: 16px;
letter-spacing: 0.2px;
color: #252B42;
text-align: center;
}

.font__style-03 {
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 28px;
letter-spacing: 0.2px;
color: #737373;
}

.wrapper {   
    max-width: 1090px;
    margin: 0 auto; 
    padding: 0 15px
}

.tabl-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*------------------------header styles START--------------*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.3s;
    z-index: 999;
}

.header_active {
    background: #ffffff;
}

.header__logo-img {
    padding-left: 7px;
}

.header__wrapper {
    align-items: center;
    justify-content: space-between;
    padding: 39px 0 8px;
}

.header__item {
    margin-right: 26px;
}

.header__item:last-child {
    margin-right: 42px;
}

.header__link {
    text-decoration: none;
    font-weight: 600;
}

.header__search {  
    margin: auto 21px auto 0;
}

.header__basket {
    margin: auto 33px auto 0;
}

#menu__toggle {
    position: absolute;
    opacity: 0;
}



/*------------------------header styles END--------------*/

/*------------------------intro styles START--------------*/
.intro {
    min-height: 75vh;
    background: url(../img/intro.jpg) no-repeat center;
    background-size: cover; 
}

.intro__tabl{
    justify-content: center;
}

.wrapper__title {
    width: 693px;
    height: auto;
    overflow:hidden;
    flex: 60%;
}

.intro__title {
    font-family: 'Martel';
    font-weight: 900;
    font-size: 58px;
    line-height: 65px;
    margin: 311px 0 35px 6px;
    text-align: left;
}

.intro__title-mobile {
    display: none;
}

.intro__sub-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 34px;
    margin-left: 5px;
    width: 539px;
    height: 59px;
}


.button__intro {
    display: grid;
    grid-template-columns: 192px 0;
    padding-left: 5px;
}

.button__intro-left {
    width: 182px;
    height: 48px;  
    font-size: 18px;
    font-weight: 500;
    color: white;
    background: #784F33;;
    border: 0;
    border-radius: 50px;
}

.button__intro-right{
    width: 157px;
    height: 48px;
    
    font-size: 18px;
    font-weight: 500;
    color: white;
    background: none;
    border-width: 1px;
    border-color: #784F33;
    border-radius: 50px;  
}


.button__intro-text {
    color: white;
    text-decoration: none;  
}  

.color784F33 {
    color: #784F33;
}

.wrapper__registration {
    height: 620px;
    width: 328px;
    background: white;
    border-radius: 10px;
    margin: 154px 5px 50px 7px;
    padding: 0 10px;
}


.table {
    display: grid;  
    justify-content: center;
    gap: 6px;
}

.registr__user-name, .registr__user-email, .registr__time, .registr__dep {
    font-family: 'Montserrat';
    color: #737373;
    background: #F9F9F9;
    Width: 247px;
    Height: 50px;
    border-radius: 5px;
    border-color: #BDBDBD;
    border-width: 1px;
    margin-top: 8px;
    font-weight: bold;
    letter-spacing: -0.01em; 
}
.registr__user-name, .registr__user-email {
    padding-left: 22px;
}
.registr__time, .registr__dep {
    padding-left: 12px;
    appearance: none;
    background: url(../img/svg/Vector-arrow-ico.svg) no-repeat right;
    background-position-x: calc(100% - 17px);
}

.registr__title {  
    font-size: 24px;
    line-height: 32px;  
    margin: 40px 0;       
}

.registr__sub-title { 
    font-weight: 700;
    color: #252B42;  
}
.registr__sub-title:nth-last-child(2){
    background: #F6E4D7;
}

.registr__submit {  
    border: 0;
    color: #FFFFFF;
    Width: 248px;
    Height: 57px;
    margin-top: 35px;
    background: #295C7A;
    border-radius: 5px;
}

/*------------------------intro styles END--------------*/

/*------------------------Advice 2pg styles  START--------------*/
.title__wrap {
    width: 800px;
    margin:0 auto; /*блок по центру*/
    margin-bottom: 80px;    
}

.advice__title {  
    font-size: 40px;
    line-height: 49px; 
    color: #252B42;
    padding: 79px 0 11px;
}

.advice__sub-title {
    font-weight: 400;
    line-height: 20px;
    text-align: center;  
}

.advice__sub-title-mobile {
    display: none;
}

.cards {
    display: flex;
    grid-gap: 17px;
    justify-content: space-around;
}

.card__top-container {
    height: 150px;
    margin: 0 auto;
    align-items: center;
    background: #F6E4D7;
    justify-content: center;
    border-radius: 10px;  
}

.card__top-pic {
    margin: 0px 15px 18px 0px;
}

.card__top-title {
    margin-bottom: 17px;
}

.card__info {
    border-radius: 11px;
    border-style: solid;   
    border-width: 1px;
    background: white;
}

.card__info-overlap {
    margin-top: -17px;
    border-color: #A9D6FF;
}

.card__info-list {
    padding: 27px 56px 0 49px;
}

.card__items-features {
    margin-bottom: 4px;
}

.link {
    padding: 1px 50px 30px 50px;
}

.link-url {
    color: #D0A144;
    text-decoration: none;
}

.link-url:hover,.link-url:focus {
    opacity: 0.65; 
  }

  .card{
    margin-bottom: 87px;
   }
/*------------------------Advice 2pg styles  END--------------*/

/*------------------------Video 3pg styles  START--------------*/
.video__wrap-first {
    width: auto;
    height: 759px;
    background: #FAFAFA;   
    position:relative;
}

.video__wrap-second {
    width: 100%;
    height: 350px;
    background: linear-gradient(270deg, #295C7A -1.04%, #0072B5 100%);
    margin: 0 auto;  
    position:absolute;
    bottom:0;
}

.videos__wrapper {
    max-width: 1440px;
    margin: 0 auto;
 }

.video {
   height: 442px;
   width: 877px;
   margin: 0 auto;
   width: 46.6%
  }

  .videos {
    position: absolute;
    width: 100%;
    margin-top: 49px;
}

  .wrapper__clients {
    width: auto;
    height: 592px;
    background: #FAFAFA;   
    position:relative;
}
/*------------------------Video 3pg styles  END--------------*/

/*-----------------Clients Say 4pg styles  START-------------*/

.card__info-clients {
    border-color: #DEDEDE;
}

.card__info-wrapper {
    padding: 31px 69px 27px 35px;
}

.link__author {
    padding-top: 3px;
}

.clients__author-work {
color: #252B42;
}

.clients__feedback {
    padding: 21px 0px;
}

.clients__autor-wrapper {
    display: grid;
    grid-template-columns: 66px auto;
    grid-template-rows: repeat(2, 1fr);  
}

.clients__author-pic {
    grid-row: 1 / span 2;
}

.advice__title-mobile {
    display: none;
}

.advice__cards {
    margin: 0 5px;
    grid-gap: 30px;
}
/*-----------------Clients Say 4pg styles  END---------------*/

/*-----------------Attorneys 5pg styles  END---------------*/
.attorneys__tabl {
    display: flex;
    grid-gap: 31px;
    padding: 0 7px;
    margin-bottom: 99px;  
}

.attorneys__card-wrapper {
    border-style: solid;
    border-width: 1px;
    border-color: #EEEEEE;    
}

.attorneys__info-tabl {
    padding: 32px 0px; 
}   

.attorneys__pic {
    width: 100%;
}

.attorneys-name {
    line-height: 24px;
}

.attorneys-status {
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
    padding: 5px 0;

}

.soc-network__tabl {
    gap: 13px;
}

/*-----------------Attorneys 5pg styles  END---------------*/

/*-----------------Appointment 6pg styles  START---------------*/

.appointment__wrapper {
    background: url(../img/background-img2.jpg) no-repeat center;
    background-size: cover;
    min-height: 66vh;
}

.appointment__sub-title {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    letter-spacing: 0.1px;
    padding: 91px 0px 0px 8px;
}

.appointment__title {
    text-align: left;
    padding: 0px 5px;
}

.appointment__form-tabl{
    display: grid;
    grid-template-columns: 285px auto;
    grid-template-rows: repeat(2, 1fr);
    margin: 39px 0 0 4px;
    grid-column-gap: 23px;
    grid-row-gap: 20px;
    align-items: center;
}

.appointment__user-name, .appointment__user-email, .appointment__time, .appointment__dep, .appointment__user-message{
    font-family: 'Montserrat';
    font-size: 14px;
    background: #F9F9F9;
    Width: 287px;
    Height: 50px;
    border-radius: 5px;
    border-color: #BDBDBD;
    border-width: 1px;
    font-weight: bold;
    padding-left: 21px;
}


.appointment__time, .appointment__dep {
    padding-left: 18px;
    appearance: none;
    background: url(../img/svg/Vector-arrow-ico.svg) no-repeat right #F9F9F9;
    background-position-x: calc(100% - 17px);
}

.appointment__user-message {
    Width: 597px;
    Height: 140px;
    border-radius: 5px;
    border-color: #BDBDBD;
    border-width: 1px;
    grid-row: 3;
    grid-column: 1 / span 2;
    padding-top: 13px;
    resize: none;

}

.appointment__submit {
    font-weight: 700;
    border: 0;
    color: #FFFFFF;
    Width: 217px;
    Height: 57px;
    margin: 40px 0 0 5px;
    background: #784F33;
    border-radius: 5px;
}

.appointment__dep-choice {
    background: #F9F9F9;
}

.consultation__title {
    text-align: left;
    margin: 40px 0 10px;
    font-weight: 700;
}

.consultation__sub-title {
    text-align: left;
}

.cosultation__tabl {
    justify-content: space-between;
}

.consultation__wrap {
    padding-left: 7px;
}

.consultation__submit {
    font-weight: 700;
    border: 0;
    color: #FFFFFF;
    Width: 158px;
    Height: 58px;
    margin: 42px;
    background: #784F33;
    border-radius: 5px;
}

.appointment__submit-wrap {
    margin-bottom: 100px;
}

/*-----------------Appointment 6pg styles  END---------------*/

/*-----------------Footer 7pg styles  START---------------*/

.footer {
    background: #0E1D28;    
}

.footer__logo {
    justify-content: space-between;
}

.footer__soc-network-tabl {
    align-items: center;
    justify-content: normal;
}

.footer__soc-network-img {
    padding-right: 19px;
}

.footer__soc-network-right-img {
    padding-right: 55px;
}

.footer__menu-title {
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    text-align: inherit;
}

.footer__menu-link {
    font-weight: 600;
    color: #BDBDBD;
    text-decoration: none;
}

.bottom__border {
    margin: 57px 0 71px;
    border-color: #364067;
}

.footer_menu-01 {
    padding-right: 62px;
}

.footer_menu-02 {
    padding-right: 89px;;
}

.footer_menu-03 {
    padding-right: 43px;
}

.footer_menu-04 {
    padding-right: 80px;
}

.footer__menu-item-title {
    padding-bottom: 10px;
}

.footer__menu-item {
    padding-top: 10px;
}

.footer__email-field {
    font-size: 14px;
    background: #F9F9F9;
    Width: 205px;
    Height: 58px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-color: #ffffff #BDBDBD #BDBDBD;
    border-width: 1px;
    margin-top: 19px;
    font-weight: bold;
    padding-left: 19px;
}

.footer__menu-sub-title {
    color: #BDBDBD;
    padding-left: 2px;
}

.footer__email-button {
    height: 58px;
    width: 118px;
    font-size: 14px;  
    background: #D0A144;
    color: #ffffff;
    border-color: #BDBDBD;
    border-width: 1px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-decoration: none;
    margin-left: -5px;
    padding: 0px 16px 0 16px;   
}

.fooder__Right {
    height: 74px;
    background: linear-gradient(45deg,#0072B5, #295C7A );
}

.footer__nav {
    justify-content: flex-start;
}

.footer__item {
    margin-bottom: 70px;
}

.fooder__Right-text-styles {
    color: white;
    padding: 23px 0 0 5px;
}

.title__wrap-clients {
    width: 800px;
    margin: 0 auto 80px;
}

.wrapper__footer {
    padding: 56px 0 0px 10px;
}

.fooder__Right-text-styles-mobile {
    display: none;
    }
/*-----------------Footer 7pg styles   END---------------*/

/*-----------------Media START---------------*/
@media screen and (max-width: 840px) {
/*------burger menu START------*/

.header__logo {
    z-index: 999;
}

.header__logo-img {
    padding-left: 20px;
} 

.header__basket-img, .header__search-img {
    width: 24px;
    
}

.header__basket {
    margin: auto 77px auto 0;    
}

.header__search {
    margin: auto 23px auto 0;
}

.header__search, .header__basket {
    z-index: 999;
}

.menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    width: 24px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
    padding-right: 25px;
    padding-bottom: 3px;
    right: 28px;
  }

.menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: #616161;
    rotate: 180deg;
}

.menu__btn > span::before {
    content: '';
    top: -6px;
    width: 8px;
}

.menu__btn > span::after {
    content: '';
    top: 7px;
    width: 23px;
}

.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 138px 0;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  }

  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Open Sans';
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
  }

  .menu__item:hover {
    background-color: #CFD8DC;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
    width: 27px;
    right: 10px;
    top: 12px;
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    opacity: 0;
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: -7px;
    transform: rotate(90deg) translate(-7px, 0px);
    width: 27px;
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }

  .menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {
  transition-duration: .25s;
}
  .menu__box {
  transition-duration: .25s;
}
  .menu__item {
  transition-duration: .25s;
}

.header__item {
    margin-right: 0px;
    padding-top: 27px;
}

.header__item:last-child {
    margin-right: 0px;
}
 
/*------burger menu END------*/

    /*---main style 1pg---------------media--start--*/

.intro__title {
    display: none;
}

.intro__title-mobile {
    display: inherit;
    font-size: 40px;
    line-height: 50px;
    margin: 150px 0 0 0;
}

.intro__sub-title {
    text-align: center;
    width: auto;
    margin: 35px 0;
}

.button__intro {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.wrapper__registration {
    margin: 80px 24px 88px 27px;
}

/*---main style 1pg---------------media--end--*/
/*---advice style 2pg-------------media--start--*/
.title__wrap {
    width: 240px;
    margin-bottom: 73px;
    text-align: center;
}

.advice__title {
    padding: 100px 0 11px 0;
}

.advice__sub-title {
    display: none;
}

.advice__sub-title-mobile {
    display: inherit;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #737373;
}

.cards {
    display: flex;
    grid-gap: 22px;
    justify-content: space-around;
}

.card {
    margin-bottom: 14px;
}
.card:last-child {
    margin-bottom: 66px;
}

.wrapper__card-mobile {
    padding: 0px 37px;
}

/*---advice style 2pg-------------media--end-----*/

/*---video style 3pg-------------media--start-----*/

.videos {
    margin-top: 0px;
}

.video {
    margin: 0 auto;
    width: 75%;
}

.video__wrap-first {
    height: 922px;
}

.video__wrap-second {
    height: 410px;
}
/*---video style 3pg-------------media--end-----*/

/*---clients style 4pg-------------media--start-----*/

.full-title {
    display: none;
}

.advice__title-mobile {
    display: block;
    font-family: 'Martel';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #252B42;
    text-align: center;
    margin-bottom: 10px;
}
    


.title__wrap-clients {
    width: 100%;           
    margin: 76px 0 59px 4px;
    

    text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 19px;
    justify-items: center;
}
.wrapper__clients {
    height: 1126px;
}

.card-mobile {
    margin-bottom: 9px;
}

.card__info {
    width: 328px;
}

.card__info-wrapper {
    padding: 31px 68px 27px 35px;
}

/*---clients style 4pg-------------media--end-----*/
/*---Attorneys style 5pg-------------media--start----*/
.attorneys__tabl {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 31px;
    padding: 0 28px;
    margin-bottom: 136px;
    justify-items: center;
}
             
.attorneys-title {
    margin: 19px auto 44px;
}
/*---Attorneys style 5pg-------------media--end-----*/

/*---Appointment style 6pg-------------media--start-----*/
.appointment__sub-title {    
    padding: 118px 0px 0 2px;
}

.appointment__title {
    padding: 0 0 0 2px;
}

.appointment__form-tabl {
    display: flex;
    flex-direction: column;

}

.appointment__user-message {
    Width: 286px;
}

.wrapper__appointment-mobile {
    padding: 0px 60px;
}

.appointment__submit {
    margin: 0px auto;
    display: block;
    Width: 285px;
    margin: 40px auto 100px auto;
}

.consultation__wrap-mobile {
    padding: 0 55px;
}


.cosultation__tabl {
    justify-content: flex-start;
}

.consultation__sub-title {
    text-align: left;

}

.consultation__submit {
    width: 286px;
    margin: 52px auto 40px;
}

/*---Appointment style 6pg-------------media--end-----*/

/*-----footer style 7pg-------------media--start-----*/
.footer {
    background: #0E1D28;
}

.bottom__border {
    display: none;
}

.footer__logo {
    flex-direction: column;
    gap: 66px;
    margin-bottom: 110px;
}

.footer__nav {
    gap: 30px;
}

.card__items-text-styles {
    text-align: left;
}
.wrapper__footer {
    padding: 56px 0 0px 34px;
}

.footer__email {
    width: 340px;
}

.fooder__Right-text-styles {
    text-align: center;
}

.fooder__Right-text-styles {
    color: white;
    padding-top: 25px;
    padding-left: 5px;
}

.fooder__Right-text-styles {
    display: none;
}

.fooder__Right-text-styles-mobile {
    text-align: center;
    display: block;
    padding-top: 25px;
    color: white;
}

.fooder__Right {
    height: 100px;
}

.ert {
    height: 445px;
    background: black;
}

.appointment__user-name, .appointment__submit, .appointment__user-email, .appointment__time, .appointment__dep, .appointment__user-message {
    width: 100%;
}

.form-appointment-block {
    min-width: 187px;
}

.link__author {
    margin-top: 4px;
}   
   /*-----footer style 7pg-------------media--end-----*/
}

@media screen and (max-width: 420px) {
    .footer__email-field {
        width: 62%;
    }

    .footer__email-button {
        width: 38%;
    }

    .footer__email {
        width: 100%;
    }

    

    .card__info {
        width: 100%;
    }

    .wrapper__clients {
        height: 100%;
    }

    .title__wrap {
        width: 90%;
        
    }

    .video {
        margin: 58px 54px;
        width: auto;
    }

    .cosultation__tabl {
        margin-top: 0px;
    }

    .text__with__button {
        width: 100%;
    }
}

@media screen and (max-width: 390px) {
    .mobile__style {
        font-size: 1.89em;
    }

    .br {
        display: none;
    }
}

@media screen and (max-width: 1088px) {
    .footer__nav {
        justify-content: space-between;
    }
}

/*-----------------Media END---------------*/


