/* martel-regular - latin */
@font-face {
    font-family: 'Martel';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/martel-v10-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/martel-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/martel-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/martel-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/martel-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/martel-v10-latin-regular.svg#Martel') format('svg'); /* Legacy iOS */
  }
  
  /* martel-700 - latin */
  @font-face {
    font-family: 'Martel';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/martel-v10-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/martel-v10-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/martel-v10-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/martel-v10-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/martel-v10-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/martel-v10-latin-700.svg#Martel') format('svg'); /* Legacy iOS */
  }
  
  /* martel-900 - latin */
  @font-face {
    font-family: 'Martel';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/martel-v10-latin-900.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/martel-v10-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/martel-v10-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/martel-v10-latin-900.woff') format('woff'), /* Modern Browsers */
         url('../fonts/martel-v10-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/martel-v10-latin-900.svg#Martel') format('svg'); /* Legacy iOS */
  }

  /* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v25-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/montserrat-v25-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v25-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v25-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v25-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v25-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  
  /* montserrat-500 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/montserrat-v25-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/montserrat-v25-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v25-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v25-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v25-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v25-latin-500.svg#Montserrat') format('svg'); /* Legacy iOS */
  }

  /* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v34-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v34-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v34-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v34-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v34-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v34-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  
  /* open-sans-600 - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/open-sans-v34-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v34-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v34-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v34-latin-600.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v34-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v34-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  
  /* open-sans-700 - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/open-sans-v34-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v34-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v34-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v34-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v34-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v34-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
  }

html {
    box-sizing: border-box;
}  
*,*::before, *::after{
    box-sizing: inherit;
  }

.wrapper {   /*обёртка страницы, блок контентента, ограничитель ширины*/
    max-width: 1060px;
    margin: 0 auto;  /*отступ для центрирования. 0 сверху, авто слева/справа*/
}

/*------------------------header styles START--------------*/
.header {
    background-color: rgba(66, 240, 13, 0.1);
    
    position: fixed;  /*фиксируем header*/
    top: 0;
    left: 0;
    width: 100%;

}

.header__logo-img {
    padding-left: 7px;
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap; /*чтобы был перенос контента, при  наезде др. на др*/
    align-items: center;
    justify-content: space-between;

    padding-top: 40px; /*отступ сверху header*/
}

.header__list {   /*работаем со списком меню*/
    display: flex;
    flex-wrap: wrap; 
}

.header__item {
    margin-right: 27px; /*набивка между пунктами меню*/
}

.header__item:last-child {
    margin-right: 42px;
}

.header__link {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #737373;
    text-decoration: none;
}

.header__link:hover, .header__link:focus, .header__link:active{
    opacity: 0.75; /*непрозрачность*/
}

.header__nav {
    display: flex;
    flex-wrap: wrap;
}
.header__search {
    
    margin: auto 23px auto 0;
}

.header__basket {
    margin: auto 33px auto 0;
}

/*------------------------header styles END--------------*/

/*------------------------intro styles START--------------*/
.intro {
    min-height: 75vh;
    /*height: 100vh;*/
    background: url(../img/intro.jpg) no-repeat center;
    /*transform: translateY(-53px);*/
    background-size: cover; 
}

.intro__tabl{
    display: flex;
     
}

.section1 {
    width: 693px;
    height: auto;
    flex: 45em;
}



.intro__title {
    font-family: 'Martel';
    font-style: normal;
    font-weight: 900;
    font-size: 58px;
    line-height: 65px;
    color: #252B42;
    margin-bottom: 35px;
    margin-top: 311px;
    margin-left: 6px;
    letter-spacing: 0.2px;
}

.intro__sub-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #737373;
    margin-bottom: 34px;
    margin-left: 4px;
    letter-spacing: 0.2px;
    width: 539px;
    height: 60px;
}


.button__intro {
    display: grid;
    grid-template-columns: 192px 0;
    padding-left: 5px;
}

.button__intro-left {
    width: 182px;
    height: 48px;
    
    font-size: 18px;
    font-weight: 500;
    color: white;
    background: #784F33;;
    border: 0;
    border-radius: 50px;
}

.button__intro-right{
    width: 157px;
    height: 48px;
    
    font-size: 18px;
    font-weight: 500;
    color: white;
    background: none;
    border-width: 1px;
    border-color: #784F33;
    border-radius: 50px;
    
}


.button__intro-text {
    padding: 13px;
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: white;
    text-decoration: none;
    
}  

.color784F33 {
    color: #784F33;
}

.wrapper__registration {
    height: 620px;
    width: 330px;
    background: white;
    border-radius: 10px;
    margin: 154px 7px 50px 7px;
    padding-left: 10px;
    padding-right: 10px;
}


.table {
    display: grid;  
    justify-content: center;
}

.registr__user-name, .registr__user-email, .registr__time, .registr__dep {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #737373;
    background: #F9F9F9;

    Width: 249px;
    Height: 50px;
    border-radius: 5px;
    border-color: #BDBDBD;
    border-width: 1px;
    margin-top: 10px;
    margin-bottom: 12px;
    
    font-weight: bold; 
}
.registr__user-name, .registr__user-email {
    padding-left: 22px;
}
.registr__time, .registr__dep {
    padding-left: 12px;
    appearance: none;
    background: url(../img/svg/Vector-arrow-ico.svg) no-repeat right;
    background-position-x: calc(100% - 17px);
}



.registr__title {
    font-family: 'Martel';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #252B42;
    margin: 40px 0;    
    
}

.registr__sub-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #252B42;
    
}

.registr__sub-title:last-child {
    padding-top: 2px;
}


.registr__submit {
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 14px;
    line-height: 28px;
    font-weight: 700;
    border: 0;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    Width: 248px;
    Height: 57px;
    margin-top: 27px;
    background: #295C7A;
    border-radius: 5px;
}



/*------------------------intro styles END--------------*/

/*------------------------Advice 2pg styles  START--------------*/
.title__wrap {
    
    width: 800px;
    margin:0 auto; /*блок по центру*/
    margin-bottom: 80px;  
    
}

.advice__title {
    font-family: 'Martel';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #252B42;
    text-align: center;
    padding: 79px 0 11px 0;
}

.advice__sub-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
}


.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 17px;

    
    
}

.card__top-container {
    width: 328px;
    height: 150px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: #F6E4D7;
    justify-content: center;
    margin-left: 6px;
    border-radius: 10px;

    
    
}

.card__top-pic {
    margin: 0px 15px 18px 0px;
}

.card__top-title {
    font-family: 'Martel';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #252B42;
    margin-bottom: 17px;
}

.card__info {
    border-radius: 11px;
    border-style: solid;
    
    border-width: 1px;
    margin-left: 6px;
    
    background: white;
    width: 328px;
}

.card__info-overlap {
    margin-top: -17px;
    border-color: #A9D6FF;
}

.card__info-list {
    padding: 28px 50px 0 50px;
}

.card__items-text-styles {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
    
}

.card__items-features {
    margin-bottom: 4px;
}

.link {
    padding: 0px 50px 30px 50px;
}

.link-url {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #D0A144;
    text-decoration: none;
}

.link-url:hover,.link-url:focus {
    opacity: 0.65; 
  }

  .card{
    margin-bottom: 87px;
   }
/*------------------------Advice 2pg styles  END--------------*/


/*------------------------Video 3pg styles  START--------------*/

.video__wrap-first {
    /*margin: 80px auto;*/
    width: auto;
    height: 759px;
    background: #FAFAFA;   
    position:relative;
}

.video__wrap-second {
    width: 100%;
    height: 350px;
    background: linear-gradient(270deg, #295C7A -1.04%, #0072B5 100%);
    margin: 0 auto;
    
    position:absolute;
    bottom:0;
    

}

.videos__wrapper {
    max-width: 1440px;
    margin: 0 auto;
 }



.video {
   height: 442px;
   width: 877px;
   margin: 50px 0;
  }
  
  .video_element { 
    top:0;
    left:0;
    width: 100%;
    height: 100%;
   
  }

  .videos {
    position: absolute;
    

    display: flex;
    justify-content: center;
    width: 100%;
   
  }

  .wrapper__clients {
    /*margin: 80px auto;*/
    width: auto;
    height: 592px;
    background: #FAFAFA;   
    position:relative;
}
/*------------------------Video 3pg styles  END--------------*/

/*-----------------Clients Say 4pg styles  START-------------*/
.card__info-clients {
    border-color: #DEDEDE;
}

.card__info-wrapper {
    height: 244px;
    width: 324px;
    padding: 30px 35px;
}

.clients__stars {

}

.stars__wrapper {

}

.clients__author-work {
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.2px;
color: #252B42;
}

.clients__feedback {
    padding: 21px 1px;
}

.clients__autor-wrapper {
    display: grid;
    grid-template-columns: 66px auto;
    grid-template-rows: repeat(2, 1fr);
    
    
}
.clients__author-pic {
    grid-row: 1 / span 2;
}

/*-----------------Clients Say 4pg styles  END---------------*/

/*-----------------Attorneys 5pg styles  END---------------*/
.attorneys__tabl {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 31px;
    padding: 0 7px;
    margin-bottom: 99px;
    

    
    
    
}


.attorneys__card-wrapper {
    height: 373px;
    width: 328px;
    border-style: solid;
    border-width: 1px;
    border-color: #EEEEEE;
    
    
}

.attorneys__info-tabl {
    padding: 30px 0px;
    
    
}

    
.attorneys__pic {
    width: 100%;
}
.attorneys-name {
    font-family: 'Martel';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #252B42;
}

.attorneys-status {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
    padding: 5px 0;

}

.soc-network__tabl {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 13px;
}

/*-----------------Attorneys 5pg styles  END---------------*/

/*-----------------Appointment 6pg styles  START---------------*/

.appointment__wrapper {
    background: url(../img/background-img2.jpg) no-repeat center;
    background-size: cover;
    min-height: 75vh;
}

.appointment__sub-title {
    font-family: 'Martel';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    letter-spacing: 0.1px;
    color: #252B42;

    padding-top: 90px;


}

.appointment__title {
    font-family: 'Martel';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: left;
    letter-spacing: 0.2px;
    color: #252B42;
}

.appointment__form-tabl{
    display: grid;
    grid-template-columns: 285px auto;
    grid-template-rows: repeat(2, 1fr);

    margin: 39px 0 0 4px;
    grid-gap: 20px;
}

.appointment__user-name, .appointment__user-email, .appointment__time, .appointment__dep, .appointment__user-message{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #737373;
    background: #F9F9F9;

    Width: 285px;
    Height: 50px;
    border-radius: 5px;
    border-color: #BDBDBD;
    border-width: 1px;
    font-weight: bold; 

    padding-left: 22px;
}

.appointment__time, .appointment__dep {
    padding-left: 18px;
    appearance: none;
    background: url(../img/svg/Vector-arrow-ico.svg) no-repeat right #F9F9F9;
    background-position-x: calc(100% - 17px);
}

.appointment__user-message {
    Width: 600px;
    Height: 140px;
    border-radius: 5px;
    border-color: #BDBDBD;
    border-width: 1px;

    grid-row: 3;
    grid-column: 1 / span 2;

    padding-top: 13px;
    resize: none;

}

.appointment__submit {
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 14px;
    line-height: 28px;
    font-weight: 700;
    border: 0;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    Width: 220px;
    Height: 57px;
    margin-top: 40px;
    background: #784F33;
    border-radius: 5px;
}

.appointment__dep-choice {
    background: #F9F9F9;
}
/*-----------------Appointment 6pg styles  END---------------*/


